## Importing all the required packages

In [5]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
import seaborn as sns

### Reading the data from the location

In [6]:
df1=pd.read_excel('ecommerce_1.xlsx')

### Checking the first five observations

In [7]:
df1.head()

,customer_id,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_score,customer_zip_code_prefix,customer_city,...,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,Product_Quantity,Payment_Value
0,3ce436f183e68e07877b285a838db11a,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.9,13.29,5.0,28013.0,campos dos goytacazes,...,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,1,72.19
1,91a792fef70ecd8cc69d3c7feb3d12da,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16,58.9,13.29,5.0,36400.0,conselheiro lafaiete,...,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,1,72.19
2,4ef55bf80f711b372afebcb7c715344a,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23,64.9,18.33,4.0,30720.0,belo horizonte,...,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,1,83.23
3,74bd614c81cbbb1e75aad1b2dd120304,ba863950726dd067d21b2262ab48df78,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-10-26,46.9,13.23,5.0,12031.0,taubate,...,cool_stuff,57.0,768.0,4.0,500.0,27.0,10.0,15.0,1,60.13
4,f277efbc37718499302b3e189bde8e35,8647ff7e5f9536a33f5e6fd7f2c08d2a,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-07-10,44.9,23.52,3.0,46430.0,guanambi,...,cool_stuff,57.0,768.0,4.0,500.0,27.0,10.0,15.0,1,68.42

### Checking the datatypes  of variables

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119734 entries, 0 to 119733
Data columns (total 29 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   customer_id                                         119731 non-null  object
 1   order_id                                            119734 non-null  object
 2   product_id                                          119734 non-null  object
 3   seller_id                                           119734 non-null  object
 4   shipping_limit_date                                 119734 non-null  datetime64[ns]
 5   price                                               119734 non-null  float64
 6   freight_value                                       119734 non-null  float64
 7   review_score                                        118756 non-null  float64
 8   customer_zip_code_prefix                            119731 non-null  float64
 9   customer_city                                       119731 non-null  object
 10  customer_state                                      119731 non-null  object
 11  olist_orders_dataset.order_status                   119731 non-null  object
 12  olist_orders_dataset.order_purchase_timestamp       119731 non-null  datetime64[ns]
 13  olist_orders_dataset.order_approved_at              119716 non-null  datetime64[ns]
 14  olist_orders_dataset.order_delivered_carrier_date   118459 non-null  datetime64[ns]
 15  olist_orders_dataset.order_delivered_customer_date  117101 non-null  datetime64[ns]
 16  olist_orders_dataset.order_estimated_delivery_date  119731 non-null  datetime64[ns]
 17  seller_city                                         119734 non-null  object
 18  seller_state                                        119734 non-null  object
 19  product_category_name                               117978 non-null  object
 20  product_name_lenght                                 118003 non-null  float64
 21  product_description_lenght                          118003 non-null  float64
 22  product_photos_qty                                  118003 non-null  float64
 23  product_weight_g                                    119714 non-null  float64
 24  product_length_cm                                   119714 non-null  float64
 25  product_height_cm                                   119714 non-null  float64
 26  product_width_cm                                    119714 non-null  float64
 27  Product_Quantity                                    119734 non-null  int64
 28  Payment_Value                                       119734 non-null  float64
dtypes: datetime64[ns](6), float64(12), int64(1), object(10)
memory usage: 26.5+ MB

## Checking Null Values

In [9]:
df1.isnull().sum()

customer_id                                              3
order_id                                                 0
product_id                                               0
seller_id                                                0
shipping_limit_date                                      0
price                                                    0
freight_value                                            0
review_score                                           978
customer_zip_code_prefix                                 3
customer_city                                            3
customer_state                                           3
olist_orders_dataset.order_status                        3
olist_orders_dataset.order_purchase_timestamp            3
olist_orders_dataset.order_approved_at                  18
olist_orders_dataset.order_delivered_carrier_date     1275
olist_orders_dataset.order_delivered_customer_date    2633
olist_orders_dataset.order_estimated_delivery_date       3
seller_city                                              0
seller_state                                             0
product_category_name                                 1756
product_name_lenght                                   1731
product_description_lenght                            1731
product_photos_qty                                    1731
product_weight_g                                        20
product_length_cm                                       20
product_height_cm                                       20
product_width_cm                                        20
Product_Quantity                                         0
Payment_Value                                            0
dtype: int64

## Dropping the duplicate observations

In [10]:
df2= df1.drop_duplicates(keep=False)

In [11]:
df1.shape

(119734, 29)

In [12]:
df2.shape

(91918, 29)

## Dropping null vaues

In [13]:
df3 = df2.dropna(axis = 0)
df2.reset_index(drop=True,inplace=True)

In [14]:
df3.shape

(88039, 29)

## Checking the first five observations after dropping null values

In [15]:
df3.head()

,customer_id,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_score,customer_zip_code_prefix,customer_city,...,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,Product_Quantity,Payment_Value
0,3ce436f183e68e07877b285a838db11a,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.9,13.29,5.0,28013.0,campos dos goytacazes,...,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,1,72.19
1,91a792fef70ecd8cc69d3c7feb3d12da,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16,58.9,13.29,5.0,36400.0,conselheiro lafaiete,...,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,1,72.19
2,4ef55bf80f711b372afebcb7c715344a,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23,64.9,18.33,4.0,30720.0,belo horizonte,...,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,1,83.23
3,74bd614c81cbbb1e75aad1b2dd120304,ba863950726dd067d21b2262ab48df78,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-10-26,46.9,13.23,5.0,12031.0,taubate,...,cool_stuff,57.0,768.0,4.0,500.0,27.0,10.0,15.0,1,60.13
4,f277efbc37718499302b3e189bde8e35,8647ff7e5f9536a33f5e6fd7f2c08d2a,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-07-10,44.9,23.52,3.0,46430.0,guanambi,...,cool_stuff,57.0,768.0,4.0,500.0,27.0,10.0,15.0,1,68.42

All the Null values have been removed since they contribute less than 5% of the Total observations

In [16]:
df3.isnull().sum()

customer_id                                           0
order_id                                              0
product_id                                            0
seller_id                                             0
shipping_limit_date                                   0
price                                                 0
freight_value                                         0
review_score                                          0
customer_zip_code_prefix                              0
customer_city                                         0
customer_state                                        0
olist_orders_dataset.order_status                     0
olist_orders_dataset.order_purchase_timestamp         0
olist_orders_dataset.order_approved_at                0
olist_orders_dataset.order_delivered_carrier_date     0
olist_orders_dataset.order_delivered_customer_date    0
olist_orders_dataset.order_estimated_delivery_date    0
seller_city                                           0
seller_state                                          0
product_category_name                                 0
product_name_lenght                                   0
product_description_lenght                            0
product_photos_qty                                    0
product_weight_g                                      0
product_length_cm                                     0
product_height_cm                                     0
product_width_cm                                      0
Product_Quantity                                      0
Payment_Value                                         0
dtype: int64

## Dropping columns that has the least correlation with the target variable

In [37]:
df3.drop(labels=['product_length_cm','product_height_cm','product_width_cm'], axis=1)

,customer_id,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_score,customer_zip_code_prefix,customer_city,...,olist_orders_dataset.order_estimated_delivery_date,seller_city,seller_state,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,Product_Quantity,Payment_Value
0,3ce436f183e68e07877b285a838db11a,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.90,13.29,5.0,28013.0,campos dos goytacazes,...,2017-09-29,volta redonda,SP,cool_stuff,58.0,598.0,4.0,650.0,1,72.19
1,91a792fef70ecd8cc69d3c7feb3d12da,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16,58.90,13.29,5.0,36400.0,conselheiro lafaiete,...,2017-09-01,volta redonda,SP,cool_stuff,58.0,598.0,4.0,650.0,1,72.19
2,4ef55bf80f711b372afebcb7c715344a,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23,64.90,18.33,4.0,30720.0,belo horizonte,...,2018-06-07,volta redonda,SP,cool_stuff,58.0,598.0,4.0,650.0,1,83.23
3,74bd614c81cbbb1e75aad1b2dd120304,ba863950726dd067d21b2262ab48df78,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-10-26,46.90,13.23,5.0,12031.0,taubate,...,2017-11-10,volta redonda,SP,cool_stuff,57.0,768.0,4.0,500.0,1,60.13
4,f277efbc37718499302b3e189bde8e35,8647ff7e5f9536a33f5e6fd7f2c08d2a,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-07-10,44.90,23.52,3.0,46430.0,guanambi,...,2017-07-31,volta redonda,SP,cool_stuff,57.0,768.0,4.0,500.0,1,68.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119729,b51593916b4b8e0d6f66f2ae24f2673d,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02,299.99,43.41,5.0,65077.0,sao luis,...,2018-05-18,itajai,SC,housewares,43.0,1002.0,3.0,10150.0,1,343.40
119730,84c5d4fbaf120aae381fad077416eaa0,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20,350.00,36.53,5.0,81690.0,curitiba,...,2018-08-01,sao paulo,SP,computers_accessories,31.0,232.0,1.0,8950.0,1,386.53
119731,29309aa813182aaddc9b259e31b870e6,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30,99.90,16.95,5.0,4039.0,sao paulo,...,2017-11-10,curitiba,PR,sports_leisure,43.0,869.0,1.0,967.0,1,116.85
119732,b5e6afd5a41800fdf401e0272ca74655,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21,55.99,8.72,5.0,13289.0,vinhedo,...,2017-08-25,sao paulo,SP,computers_accessories,56.0,1306.0,1.0,100.0,1,64.71
119733,96d649da0cc4ff33bb408b199d4c7dcf,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12,43.00,12.79,5.0,18605.0,botucatu,...,2018-06-28,ibitinga,SP,bed_bath_table,47.0,511.0,1.0,600.0,1,55.79

In [18]:
df3.drop(labels='product_name_lenght', axis=1)

,customer_id,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_score,customer_zip_code_prefix,customer_city,...,seller_state,product_category_name,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,Product_Quantity,Payment_Value
0,3ce436f183e68e07877b285a838db11a,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.90,13.29,5.0,28013.0,campos dos goytacazes,...,SP,cool_stuff,598.0,4.0,650.0,28.0,9.0,14.0,1,72.19
1,91a792fef70ecd8cc69d3c7feb3d12da,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16,58.90,13.29,5.0,36400.0,conselheiro lafaiete,...,SP,cool_stuff,598.0,4.0,650.0,28.0,9.0,14.0,1,72.19
2,4ef55bf80f711b372afebcb7c715344a,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23,64.90,18.33,4.0,30720.0,belo horizonte,...,SP,cool_stuff,598.0,4.0,650.0,28.0,9.0,14.0,1,83.23
3,74bd614c81cbbb1e75aad1b2dd120304,ba863950726dd067d21b2262ab48df78,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-10-26,46.90,13.23,5.0,12031.0,taubate,...,SP,cool_stuff,768.0,4.0,500.0,27.0,10.0,15.0,1,60.13
4,f277efbc37718499302b3e189bde8e35,8647ff7e5f9536a33f5e6fd7f2c08d2a,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-07-10,44.90,23.52,3.0,46430.0,guanambi,...,SP,cool_stuff,768.0,4.0,500.0,27.0,10.0,15.0,1,68.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119729,b51593916b4b8e0d6f66f2ae24f2673d,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02,299.99,43.41,5.0,65077.0,sao luis,...,SC,housewares,1002.0,3.0,10150.0,89.0,15.0,40.0,1,343.40
119730,84c5d4fbaf120aae381fad077416eaa0,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20,350.00,36.53,5.0,81690.0,curitiba,...,SP,computers_accessories,232.0,1.0,8950.0,45.0,26.0,38.0,1,386.53
119731,29309aa813182aaddc9b259e31b870e6,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30,99.90,16.95,5.0,4039.0,sao paulo,...,PR,sports_leisure,869.0,1.0,967.0,21.0,24.0,19.0,1,116.85
119732,b5e6afd5a41800fdf401e0272ca74655,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21,55.99,8.72,5.0,13289.0,vinhedo,...,SP,computers_accessories,1306.0,1.0,100.0,20.0,20.0,20.0,1,64.71
119733,96d649da0cc4ff33bb408b199d4c7dcf,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12,43.00,12.79,5.0,18605.0,botucatu,...,SP,bed_bath_table,511.0,1.0,600.0,30.0,3.0,19.0,1,55.79

## Renaming Columns

In [19]:
df4=df3.rename(columns={"olist_orders_dataset.order_status": "order_status",
                    "olist_orders_dataset.order_purchase_timestamp": "order_purchase_Time",
                       "olist_orders_dataset.order_approved_at":"order_approved_at",
                       "olist_orders_dataset.order_delivered_carrier_date":"order_delivered_carrier_date",
                       "olist_orders_dataset.order_delivered_customer_date":"order_delivered_customer_date",
                       "olist_orders_dataset.order_estimated_delivery_date":"order_estimated_delivery_date"})

In [20]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88039 entries, 0 to 119733
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer_id                    88039 non-null  object
 1   order_id                       88039 non-null  object
 2   product_id                     88039 non-null  object
 3   seller_id                      88039 non-null  object
 4   shipping_limit_date            88039 non-null  datetime64[ns]
 5   price                          88039 non-null  float64
 6   freight_value                  88039 non-null  float64
 7   review_score                   88039 non-null  float64
 8   customer_zip_code_prefix       88039 non-null  float64
 9   customer_city                  88039 non-null  object
 10  customer_state                 88039 non-null  object
 11  order_status                   88039 non-null  object
 12  order_purchase_Time            88039 non-null  datetime64[ns]
 13  order_approved_at              88039 non-null  datetime64[ns]
 14  order_delivered_carrier_date   88039 non-null  datetime64[ns]
 15  order_delivered_customer_date  88039 non-null  datetime64[ns]
 16  order_estimated_delivery_date  88039 non-null  datetime64[ns]
 17  seller_city                    88039 non-null  object
 18  seller_state                   88039 non-null  object
 19  product_category_name          88039 non-null  object
 20  product_name_lenght            88039 non-null  float64
 21  product_description_lenght     88039 non-null  float64
 22  product_photos_qty             88039 non-null  float64
 23  product_weight_g               88039 non-null  float64
 24  product_length_cm              88039 non-null  float64
 25  product_height_cm              88039 non-null  float64
 26  product_width_cm               88039 non-null  float64
 27  Product_Quantity               88039 non-null  int64
 28  Payment_Value                  88039 non-null  float64
dtypes: datetime64[ns](6), float64(12), int64(1), object(10)
memory usage: 20.2+ MB

## Creating a custom Column called "Delivery delay"

In [21]:
df4["delivery_delay"]= (df4["order_estimated_delivery_date"]-df4["order_delivered_customer_date"]).astype('timedelta64[D]')

In [22]:
df4.head()

,customer_id,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_score,customer_zip_code_prefix,customer_city,...,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,Product_Quantity,Payment_Value,delivery_delay
0,3ce436f183e68e07877b285a838db11a,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.9,13.29,5.0,28013.0,campos dos goytacazes,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,1,72.19,8.0
1,91a792fef70ecd8cc69d3c7feb3d12da,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16,58.9,13.29,5.0,36400.0,conselheiro lafaiete,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,1,72.19,7.0
2,4ef55bf80f711b372afebcb7c715344a,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23,64.9,18.33,4.0,30720.0,belo horizonte,...,58.0,598.0,4.0,650.0,28.0,9.0,14.0,1,83.23,2.0
3,74bd614c81cbbb1e75aad1b2dd120304,ba863950726dd067d21b2262ab48df78,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-10-26,46.9,13.23,5.0,12031.0,taubate,...,57.0,768.0,4.0,500.0,27.0,10.0,15.0,1,60.13,13.0
4,f277efbc37718499302b3e189bde8e35,8647ff7e5f9536a33f5e6fd7f2c08d2a,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-07-10,44.9,23.52,3.0,46430.0,guanambi,...,57.0,768.0,4.0,500.0,27.0,10.0,15.0,1,68.42,18.0

In [23]:
df4["order_estimated_delivery_date"]

0        2017-09-29
1        2017-09-01
2        2018-06-07
3        2017-11-10
4        2017-07-31
            ...
119729   2018-05-18
119730   2018-08-01
119731   2017-11-10
119732   2017-08-25
119733   2018-06-28
Name: order_estimated_delivery_date, Length: 88039, dtype: datetime64[ns]

In [24]:
df4["order_delivered_customer_date"]

0        2017-09-20 23:43:48
1        2017-08-24 20:04:21
2        2018-06-04 18:34:26
3        2017-10-27 21:23:49
4        2017-07-12 16:12:36
                 ...
119729   2018-05-10 22:56:40
119730   2018-07-23 20:31:55
119731   2017-10-28 12:22:22
119732   2017-08-16 21:59:40
119733   2018-06-14 17:56:26
Name: order_delivered_customer_date, Length: 88039, dtype: datetime64[ns]

## Creating a custom Column called "Days to deliver"

In [25]:
df4["Days_to_Deliver"]= (df4["order_delivered_customer_date"]-df4["order_approved_at"]).astype('timedelta64[D]')

In [26]:
df4.head()

,customer_id,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_score,customer_zip_code_prefix,customer_city,...,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,Product_Quantity,Payment_Value,delivery_delay,Days_to_Deliver
0,3ce436f183e68e07877b285a838db11a,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.9,13.29,5.0,28013.0,campos dos goytacazes,...,598.0,4.0,650.0,28.0,9.0,14.0,1,72.19,8.0,7.0
1,91a792fef70ecd8cc69d3c7feb3d12da,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16,58.9,13.29,5.0,36400.0,conselheiro lafaiete,...,598.0,4.0,650.0,28.0,9.0,14.0,1,72.19,7.0,13.0
2,4ef55bf80f711b372afebcb7c715344a,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23,64.9,18.33,4.0,30720.0,belo horizonte,...,598.0,4.0,650.0,28.0,9.0,14.0,1,83.23,2.0,17.0
3,74bd614c81cbbb1e75aad1b2dd120304,ba863950726dd067d21b2262ab48df78,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-10-26,46.9,13.23,5.0,12031.0,taubate,...,768.0,4.0,500.0,27.0,10.0,15.0,1,60.13,13.0,5.0
4,f277efbc37718499302b3e189bde8e35,8647ff7e5f9536a33f5e6fd7f2c08d2a,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-07-10,44.9,23.52,3.0,46430.0,guanambi,...,768.0,4.0,500.0,27.0,10.0,15.0,1,68.42,18.0,8.0

## Changing the datatype of newly created columns

In [27]:
df4["Days_to_Deliver"]=df4["Days_to_Deliver"].astype(int)
df4["delivery_delay"]=df4["delivery_delay"].astype(int)

In [28]:
df4.head()

,customer_id,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_score,customer_zip_code_prefix,customer_city,...,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,Product_Quantity,Payment_Value,delivery_delay,Days_to_Deliver
0,3ce436f183e68e07877b285a838db11a,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.9,13.29,5.0,28013.0,campos dos goytacazes,...,598.0,4.0,650.0,28.0,9.0,14.0,1,72.19,8,7
1,91a792fef70ecd8cc69d3c7feb3d12da,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16,58.9,13.29,5.0,36400.0,conselheiro lafaiete,...,598.0,4.0,650.0,28.0,9.0,14.0,1,72.19,7,13
2,4ef55bf80f711b372afebcb7c715344a,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23,64.9,18.33,4.0,30720.0,belo horizonte,...,598.0,4.0,650.0,28.0,9.0,14.0,1,83.23,2,17
3,74bd614c81cbbb1e75aad1b2dd120304,ba863950726dd067d21b2262ab48df78,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-10-26,46.9,13.23,5.0,12031.0,taubate,...,768.0,4.0,500.0,27.0,10.0,15.0,1,60.13,13,5
4,f277efbc37718499302b3e189bde8e35,8647ff7e5f9536a33f5e6fd7f2c08d2a,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-07-10,44.9,23.52,3.0,46430.0,guanambi,...,768.0,4.0,500.0,27.0,10.0,15.0,1,68.42,18,8

## Creating a cloumn called "Delayed"

This column has information on delayed orders. 
This is a categorical column that has only two values called “Delayed” and “Not delayed”

In [29]:
df4['delayed'] = np.where((df4['order_delivered_customer_date'] > df4['order_estimated_delivery_date']),"delayed","Not delayed")

In [30]:
df4.head()

,customer_id,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_score,customer_zip_code_prefix,customer_city,...,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,Product_Quantity,Payment_Value,delivery_delay,Days_to_Deliver,delayed
0,3ce436f183e68e07877b285a838db11a,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.9,13.29,5.0,28013.0,campos dos goytacazes,...,4.0,650.0,28.0,9.0,14.0,1,72.19,8,7,Not delayed
1,91a792fef70ecd8cc69d3c7feb3d12da,7d19f4ef4d04461989632411b7e588b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16,58.9,13.29,5.0,36400.0,conselheiro lafaiete,...,4.0,650.0,28.0,9.0,14.0,1,72.19,7,13,Not delayed
2,4ef55bf80f711b372afebcb7c715344a,532ed5e14e24ae1f0d735b91524b98b9,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23,64.9,18.33,4.0,30720.0,belo horizonte,...,4.0,650.0,28.0,9.0,14.0,1,83.23,2,17,Not delayed
3,74bd614c81cbbb1e75aad1b2dd120304,ba863950726dd067d21b2262ab48df78,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-10-26,46.9,13.23,5.0,12031.0,taubate,...,4.0,500.0,27.0,10.0,15.0,1,60.13,13,5,Not delayed
4,f277efbc37718499302b3e189bde8e35,8647ff7e5f9536a33f5e6fd7f2c08d2a,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-07-10,44.9,23.52,3.0,46430.0,guanambi,...,4.0,500.0,27.0,10.0,15.0,1,68.42,18,8,Not delayed

### Outliers

Since we have only few and valid outliers in the numerical columns like price,freight_value,Payment_Value 
It doesnt affect the output of the Analysis.Hence it doesnt require any transformation

In [32]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88039 entries, 0 to 119733
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer_id                    88039 non-null  object
 1   order_id                       88039 non-null  object
 2   product_id                     88039 non-null  object
 3   seller_id                      88039 non-null  object
 4   shipping_limit_date            88039 non-null  datetime64[ns]
 5   price                          88039 non-null  float64
 6   freight_value                  88039 non-null  float64
 7   review_score                   88039 non-null  float64
 8   customer_zip_code_prefix       88039 non-null  float64
 9   customer_city                  88039 non-null  object
 10  customer_state                 88039 non-null  object
 11  order_status                   88039 non-null  object
 12  order_purchase_Time            88039 non-null  datetime64[ns]
 13  order_approved_at              88039 non-null  datetime64[ns]
 14  order_delivered_carrier_date   88039 non-null  datetime64[ns]
 15  order_delivered_customer_date  88039 non-null  datetime64[ns]
 16  order_estimated_delivery_date  88039 non-null  datetime64[ns]
 17  seller_city                    88039 non-null  object
 18  seller_state                   88039 non-null  object
 19  product_category_name          88039 non-null  object
 20  product_name_lenght            88039 non-null  float64
 21  product_description_lenght     88039 non-null  float64
 22  product_photos_qty             88039 non-null  float64
 23  product_weight_g               88039 non-null  float64
 24  product_length_cm              88039 non-null  float64
 25  product_height_cm              88039 non-null  float64
 26  product_width_cm               88039 non-null  float64
 27  Product_Quantity               88039 non-null  int64
 28  Payment_Value                  88039 non-null  float64
 29  delivery_delay                 88039 non-null  int32
 30  Days_to_Deliver                88039 non-null  int32
 31  delayed                        88039 non-null  object
dtypes: datetime64[ns](6), float64(12), int32(2), int64(1), object(11)
memory usage: 21.5+ MB

In [35]:
# Specify the name of the excel file
file_name = 'ECommerce.xlsx'
  
# saving the excelsheet
df4.to_excel(file_name)
print('df4 has been exported into Excel File')

df4 has been exported into Excel File

## Exporting the cleaned data into a csv file

In [36]:
df4.to_csv (r'C:\Users\Manoj\OneDrive\Documents\DAB\DAB103\Project_1\EcommerceBrazil.csv', index = False, header=True)